{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Position #{{ position.id }}</h1>
    <ul>
        <li>Name: {{ position.name }}</li>
        <li>Wert: {{ position.value }}</li>
        <li>Datum: {{ position.date.format('Y-m-d H:i:s') }}</li>
    </ul>

    <p>
        <a class="btn btn-default" role="button" href="{{ path('haushaltsbuch') }}">Zurück zur Übersicht</a>
    </p>
{% endblock %}