{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Eintrag bearbeiten</h1>

    {{ form(form) }}

    <p>
        <a class="btn btn-default" role="button" href="{{ path('haushaltsbuch') }}">Zurück zur Übersicht</a>
    </p>
{% endblock %}