{% extends '::base.html.twig' %}

{% block body -%}

    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Wert</th>
            <th>Datum</th>
            <th>Meta</th>
        </tr>
        {% for position in positions %}
            <tr>
                <td>{{ position.id }}</td>
                <td>{{ position.name }}</td>
                <td>{{ position.value }},- €</td>
                <td>{{ position.date.format('Y-m-d H:i:s') }}</td>
                <td>
                    <a href="{{ url('haushaltsbuch_details', { 'id': position.id } ) }}">Details</a>
                    <a href="{{ url('haushaltsbuch_edit', { 'id': position.id } ) }}">Bearbeiten</a>
                    <a href="{{ url('haushaltsbuch_remove', { 'id': position.id } ) }}">Löschen</a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <p>Gesamtausgaben: {{ sumOfAllPositions }},- €</p>

    <p><a class="btn btn-default" role="button" href="{{ url('haushaltsbuch_new') }}">Neue Position hinzufügen</a></p>

{% endblock %}